@using Jeopicodus.ViewModels

@model LoginViewModel

<h1>Hello @User.Identity.Name!</h1>

<p>@Html.ActionLink("Game", "Index", "Game")</p>
<p>@Html.ActionLink("User History", "Details", "Account")</p>
<p>@Html.ActionLink("Rules", "Details", "Home")</p>
<p>@Html.ActionLink("Submit a Question", "Create", "Home")</p>